{{#partial "contenido"}}


  <head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="http://cdn.intercoolerjs.org/intercooler-1.2.0.js"></script>
  <script type="text/javascript">

          function removeOptions(selectbox){
            var i;
            for(i = selectbox.options.length - 1 ; i > 0 ; i--){
              selectbox.remove(i);
            }
          }
           function setPeriodos(empresa){
            var combo = document.getElementById("selectPeriodos");
            removeOptions(combo);
            {{#each this.periodos}}
              if("{{@key}}" == empresa){
                {{#each this}}
                  var option = document.createElement("option");
                  option.text = "{{this}}";
                  combo.add(option);
                {{/each}}
              }
            {{/each}}
          }

  </script>
  </head>

    <div class= "row justify-content-center">
      <div class="col-4">
        <h3 class="text-info text-center">Mis Indicadores</h3>
        <table class="table table-striped" style="float: left">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Fórmula</th>
            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this.indicadores}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{nombre}}</th>
            <th class="text-center">{{formula}}</th>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <h3 class="text-info text-center">Empresas</h3>
        <table class="table table-striped" style="float: right">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Periodos</th>
            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this.periodos}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{@key}}</th>
            <th class="text-center">{{this}}</th>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>


<!--##############################################################################################################-->
  <div class="row justify-content-center"">



  <h3 class="text-info text-center">Seleccionar datos para evaluar</h3>
  </div>
  <div class="row justify-content-center"">
  <div class="col-xs-4">  
    <form action="/indicadores/eval" method="get" id="form1">
     <div class="form-group">

       <label for="indicador">Indicador</label>
       

       <select name="indicador" required>
         <option value="null" selected="selected"></option>
        {{#each this.indicadores}}
        <option value="{{nombre}}" {{#selected}} selected="selected"{{/selected}}> {{nombre}} </option>
        {{/each}}
       </select>

       <label for="empresa">Empresa</label>

       <select name="empresa" onchange="setPeriodos(this.value);" required>
          <option value="null" selected="selected"></option>
        {{#each this.periodos}}
          <option value="{{@key}}" {{#selected}} selected="selected"{{/selected}}> {{@key}} </option>
        {{/each}}
       </select>

        <label for="periodo" >Periodos</label>
        <select name="periodo" id="selectPeriodos">
          <option value="null" selected="selected"></option>
        </select>

        <button class="btn btn-primary" type="submit">Evaluar</button>
        <div class="numeric-display-holder">
        <div id="lcd-symbols">&nbsp;</div>
        {{#if this.error}}
          <label for="error" style="color: red"> <b> {{this.error}} </b></label>
          {{else}} 
            <label for="resultado"> <b> Resultado = {{this.resultado}} </b> </label> 
        {{/if}}
            
          
        </div>
        
     </div>
      </form>
   </div>
</div>




{{/partial}}

{{>userspace.hbs}}