{{#partial "contenido"}}
<div class="conteiner-fluid">

        <div class= "row justify-content-center">
      <div class="col-4">
        <h3 class="text-info text-center">Empresas invertibles</h3>
        <table class="table table-striped" style="float: left">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>

            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this.empresasInvertibles}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{this}}</th>

          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <h3 class="text-info text-center">No conviene invertir en</h3>
        <table class="table table-striped" style="float: right">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>
            </tr>
          </thead>
          <tbody class="periodos_list">
          {{#each this.empresasNoInvertibles}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{@key}}</th>
            <th class="text-center">{{Nombre}}</th>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>


     </div>
      </form>

   </div>

  </div>
 </div>


{{/partial}}
{{>userspace.hbs}}
