<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
<body>

<header class="navbar navbar-expand-lg navbar-ligh" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="../dondeInvierto.html">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/US_Democratic_Party_Logo.svg/2000px-US_Democratic_Party_Logo.svg.png" width="30" height="30" class="d-inline-block align-top" alt="" >
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav bd-navbar-nav flex-row" >
          <li class="nav-item">
            <a class="nav-link " href="../dondeInvierto.html">Home</a>
          </li>
          <li class="nav-item">
           <a class="nav-link active" href="../empresas">Empresas</a>
         </li>
          <li class="nav-item">
            <a class="nav-link" href="/indicadores">Indicadores</a>
          </li>
          <li class = "nav-item">
          <a class="nav-link" href="#">Metodologias</a>
          </li>
       </ul>
     </div>

     <ul class="navbar-nav justify-content-end">
      <li class="nav-item" >
        <a class="nav-link" data-toogle="pill"  href="#" role="tab" aria-controls="pills-profile" aria-expanded="true">Contacto</a>
      </li>
     </ul>
 </header>
<div class="conteiner-fluid">
		
<div class= "row justify-content-center">
      <div class="col-4">
        <h3 class="text-info text-center">Empresas a evaluar</h3>
        <table class="table table-striped" style="float: left">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>
            
            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this.empresas}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{nombre}}</th>
           
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <h3 class="text-info text-center">Periodos a evaluar</h3>
        <table class="table table-striped" style="float: right">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Periodo</th>
            </tr>
          </thead>
          <tbody class="periodos_list">
          {{#each this.periodos}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{@key}}</th>
            <th class="text-center">{{this}}</th>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>



   </div>
<div class="row justify-content-center"">
     <h1 class="text-info text-center">Seleccion</h1>
  </div>
  <div class="row justify-content-center"">
  <div class="col-4">  
  	<form action="/metodologias/evaluar" method="get">
     <div class="form-group">
       <label for="indicador">Metodologia</label>
       <select name="metodologia">
         <option value="null" selected="selected"></option>
        {{#each this.metodologias}}
        <option value="{{nombre}}" {{#selected}} selected="selected"{{/selected}}> {{nombre}} </option>
        {{/each}}
       </select>
		  <button class="btn btn-primary" type="submit">Setear Metodologia</button>
       <label for="periodos">Empresas</label>
        <select name="empresa">
          <option value="null" selected="selected"></option>
        {{#each this.empresas}}
        <option value="{{@key}}" {{#selected}} selected="selected"{{/selected}}> {{@key}} </option>
        {{/each}}
       </select>
  		<button class="btn btn-primary" type="submit">Setear Empresa</button>
        <label for="periodos">Periodo</label>
        <select name="periodo">
          <option value="null" selected="selected"></option>
        {{#each this.periodos}}
          {{#each this}}
            <option value="{{this}}" {{#selected}} selected="selected"{{/selected}}> {{this}} </option>
          {{/each}}
        {{/each}}
       </select>
         <button class="btn btn-primary" type="submit">Setear Periodo</button>
         
         
         
        <button class="btn btn-primary" type="submit">Evaluar</button>
        
        <div class= "row justify-content-center">
      <div class="col-4">
        <h3 class="text-info text-center">Empresas invertibles</h3>
        <table class="table table-striped" style="float: left">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>
            
            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this.empresasInvertibles}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{nombre}}</th>
           
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <h3 class="text-info text-center">No conviene invertir en</h3>
        <table class="table table-striped" style="float: right">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>
            </tr>
          </thead>
          <tbody class="periodos_list">
          {{#each this.empresasNoInvertibles}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{@key}}</th>
            <th class="text-center">{{this}}</th>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
        
        
     </div>
      </form>
      
   </div>
    
  </div>
 </div>

</div>
</body>
</html>