{{#partial "contenido"}}
<div class="row justify-content-center"">
 <div class="col-4">
	<h3 class="text-info text-center">Seleccion de datos para Evaluar</h3>
  	<form action="/metodologias/guardarEmpresaParaEvaluar" method="POST">
     <div class="form-group">

       <label for="empresas">Empresas</label>
        <select name="empresa">
          <option value="null" selected="selected"></option>
        {{#each this.empresas}}
        <option value="{{Nombre}}" {{#selected}} selected="selected"{{/selected}}> {{Nombre}} </option>
        {{/each}}
       </select>
  	 <button class="btn btn-primary" type="submit">Agregar Empresa</button>
  	
  	  </form>
        <h3 class="text-info text-center">Empresas a evaluar</h3>
        <table class="table table-striped">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>

            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this.empresasAEvaluar}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{Nombre}}</th>

          </tr>
          {{/each}}
          </tbody>
        </table>
    
    	<form action="/metodologias/guardarPeriodoParaEvaluar" method="POST">
        <label for="periodos">Periodos</label>
        <select name="periodo">
          <option value="null" selected="selected"></option>
        {{#each this.periodos}}
          {{#each this}}
            <option value="{{this}}" {{#selected}} selected="selected"{{/selected}}> {{this}} </option>
          {{/each}}
        {{/each}}
       </select>
        <button class="btn btn-primary" type="submit">Agregar Periodo</button>
     	  </form>
    	<table class="table table-striped">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Periodo</th>

            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this.periodosAEvaluar}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{Nombre}}</th>

          </tr>
          {{/each}}
          </tbody>
        </table>
	
        
    
      <form action="/metodologias/evaluar" method="get">
       <label for="indicador">Metodologia</label>
       <select name="metodologia">
         <option value="null" selected="selected"></option>
        {{#each this.metodologias}}
        <option value="{{nombre}}" {{#selected}} selected="selected"{{/selected}}> {{nombre}} </option>
        {{/each}}
       </select>
       <button class="btn btn-primary" type="submit">Evaluar</button>
       </form>
 
 <h1 class="text-info text-center">{{error}}</h1>
 </div>
 </div>
{{/partial}}
{{>userspace.hbs}}
